<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Новости (бета)</title>
		<link rel="stylesheet" type="text/css" href="template_styles.css">
		<link rel="stylesheet" type="text/css" href="styles.css">
		<link href='http://fonts.googleapis.com/css?family=PT+Serif+Caption:400,400italic&subset=cyrillic,latin' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Lato:400,900,400italic&subset=cyrillic,latin' rel='stylesheet' type='text/css'>
      <script src="http://code.jquery.com/jquery-1.8.3.js"></script>

	</head>
	<body>
		<div class="all">
			<header>
				<h1>Новости&nbsp;<span class="beta">&beta;</span></h1>
			</header>
			<main>
				
				<div class="big_block">
					<div class="add_news">Добавить новость</div>
					<div class="add_news_form">
                      <form action="" name="news_form">
						<input type="text" class="input" name="title_news" placeholder="Заголовок новости, максимум пара фраз" value="">
						<textarea class="textarea" name="text_news" placeholder="Текст новости, html не работает"></textarea>
                        
						
                        <div class="float_right">
                          <span class="exit">Отмена</span>
                          <button type="submit" name="send_form" class="send">Отправить</button>
                        </div>
                      </form>
					</div>
					<div class="block_news">
						<div class="news" data-id="0">
							<span class="date_span">сегодня, 11:23</span>
						
							<h2><a href="">Чешские спецслужбы пожаловались на "крайне высокое" число российских шпионов</a></h2>
							<div class="text_from_news">
							<p>ФСБ РФ проводит масштабную операцию на территории России по выявлению источников финансирования и вербовки бойцов для «Исламского государства» в Сирии.</p>

<p>В рамках операции, сообщили источники в правоохранительных органах, с середины октября сотрудники спецслужбы задержали несколько десятков подозреваемых, в том числе и на территории Москвы». «Аналогичные операции проведены и в ряде других регионов России, мероприятия еще продолжаются», — заявили представители правоохранительных органов.</p>

<p>В середине октября 2014 года «Аргументы недели» сообщали, что российские спецслужбы и правоохранительные органы получили задание усилить агентурную разработку ячеек «Исламского государства» в РФ. Кроме того, им поручили активизировать действия по отслеживанию и задержанию боевиков, возвращающихся из Сирии, где они воевали на стороне исламистов.</p>
							</div>
						</div>
						<div class="news" data-id="1">
							<span class="date_span">2 часа назад</span>
							<h2><a href="">Депутатов Госдумы обязали сдать дипломатические паспорта</a></h2>
                          <div class="text_from_news">
                          <p>
                          	Председатель Госдумы Сергей Нарышкин поручил руководителям думских фракций собрать с депутатов дипломатические паспорта. Документы решили забрать из-за «ухудшения отношений» с Евросоюзом и санкций со стороны западных стран.</p>
<p>
  По правилам, депутаты должны сдавать диппаспорта после каждой служебной поездки. В действительности они хранят их у себя и зачастую используют для личных поездок без виз в страны <a href="" target="_blank">Шенгенского соглашения.</a></p>
<p>
Депутаты должны сдать дипломатические паспорта до 31 октября.</p>
                      </div>
						</div>
						<div class="news" data-id="2">
							<span class="date_span">сегодня, 11:23</span>
						
							<h2><a href="">Чешские спецслужбы пожаловались на "крайне высокое" число российских шпионов</a></h2>
							<div class="text_from_news">
							<p>ФСБ РФ проводит масштабную операцию на территории России по выявлению источников финансирования и вербовки бойцов для «Исламского государства» в Сирии.</p>

<p>В рамках операции, сообщили источники в правоохранительных органах, с середины октября сотрудники спецслужбы задержали несколько десятков подозреваемых, в том числе и на территории Москвы». «Аналогичные операции проведены и в ряде других регионов России, мероприятия еще продолжаются», — заявили представители правоохранительных органов.</p>

<p>В середине октября 2014 года «Аргументы недели» сообщали, что российские спецслужбы и правоохранительные органы получили задание усилить агентурную разработку ячеек «Исламского государства» в РФ. Кроме того, им поручили активизировать действия по отслеживанию и задержанию боевиков, возвращающихся из Сирии, где они воевали на стороне исламистов.</p>
							</div>
						</div>
						<div class="news" data-id="3">
							<span class="date_span">2 часа назад</span>
							<h2><a href="">Депутатов Госдумы обязали сдать дипломатические паспорта</a></h2>
                          <div class="text_from_news">
                          <p>
                          	Председатель Госдумы Сергей Нарышкин поручил руководителям думских фракций собрать с депутатов дипломатические паспорта. Документы решили забрать из-за «ухудшения отношений» с Евросоюзом и санкций со стороны западных стран.</p>
<p>
  По правилам, депутаты должны сдавать диппаспорта после каждой служебной поездки. В действительности они хранят их у себя и зачастую используют для личных поездок без виз в страны <a href="" target="_blank">Шенгенского соглашения.</a></p>
<p>
Депутаты должны сдать дипломатические паспорта до 31 октября.</p>
                      </div>
						</div>
						<div class="news" data-id="4">
							<span class="date_span">сегодня, 11:23</span>
						
							<h2><a href="">Чешские спецслужбы пожаловались на "крайне высокое" число российских шпионов</a></h2>
							<div class="text_from_news">
							<p>ФСБ РФ проводит масштабную операцию на территории России по выявлению источников финансирования и вербовки бойцов для «Исламского государства» в Сирии.</p>

<p>В рамках операции, сообщили источники в правоохранительных органах, с середины октября сотрудники спецслужбы задержали несколько десятков подозреваемых, в том числе и на территории Москвы». «Аналогичные операции проведены и в ряде других регионов России, мероприятия еще продолжаются», — заявили представители правоохранительных органов.</p>

<p>В середине октября 2014 года «Аргументы недели» сообщали, что российские спецслужбы и правоохранительные органы получили задание усилить агентурную разработку ячеек «Исламского государства» в РФ. Кроме того, им поручили активизировать действия по отслеживанию и задержанию боевиков, возвращающихся из Сирии, где они воевали на стороне исламистов.</p>
							</div>
						</div>
						<div class="news" data-id="5">
							<span class="date_span">2 часа назад</span>
							<h2><a href="">Депутатов Госдумы обязали сдать дипломатические паспорта</a></h2>
                          <div class="text_from_news">
                          <p>
                          	Председатель Госдумы Сергей Нарышкин поручил руководителям думских фракций собрать с депутатов дипломатические паспорта. Документы решили забрать из-за «ухудшения отношений» с Евросоюзом и санкций со стороны западных стран.</p>
<p>
  По правилам, депутаты должны сдавать диппаспорта после каждой служебной поездки. В действительности они хранят их у себя и зачастую используют для личных поездок без виз в страны <a href="" target="_blank">Шенгенского соглашения.</a></p>
<p>
Депутаты должны сдать дипломатические паспорта до 31 октября.</p>
                      </div>
						</div>
						<div class="news" data-id="6">
							<span class="date_span">сегодня, 11:23</span>
						
							<h2><a href="">Чешские спецслужбы пожаловались на "крайне высокое" число российских шпионов</a></h2>
							<div class="text_from_news">
							<p>ФСБ РФ проводит масштабную операцию на территории России по выявлению источников финансирования и вербовки бойцов для «Исламского государства» в Сирии.</p>

<p>В рамках операции, сообщили источники в правоохранительных органах, с середины октября сотрудники спецслужбы задержали несколько десятков подозреваемых, в том числе и на территории Москвы». «Аналогичные операции проведены и в ряде других регионов России, мероприятия еще продолжаются», — заявили представители правоохранительных органов.</p>

<p>В середине октября 2014 года «Аргументы недели» сообщали, что российские спецслужбы и правоохранительные органы получили задание усилить агентурную разработку ячеек «Исламского государства» в РФ. Кроме того, им поручили активизировать действия по отслеживанию и задержанию боевиков, возвращающихся из Сирии, где они воевали на стороне исламистов.</p>
							</div>
						</div>
						<div class="news" data-id="7">
							<span class="date_span">2 часа назад</span>
							<h2><a href="">Депутатов Госдумы обязали сдать дипломатические паспорта</a></h2>
                          <div class="text_from_news">
                          <p>
                          	Председатель Госдумы Сергей Нарышкин поручил руководителям думских фракций собрать с депутатов дипломатические паспорта. Документы решили забрать из-за «ухудшения отношений» с Евросоюзом и санкций со стороны западных стран.</p>
<p>
  По правилам, депутаты должны сдавать диппаспорта после каждой служебной поездки. В действительности они хранят их у себя и зачастую используют для личных поездок без виз в страны <a href="" target="_blank">Шенгенского соглашения.</a></p>
<p>
Депутаты должны сдать дипломатические паспорта до 31 октября.</p>
                      </div>
						</div>
						<div class="news" data-id="8">
							<span class="date_span">сегодня, 11:23</span>
						
							<h2><a href="">Чешские спецслужбы пожаловались на "крайне высокое" число российских шпионов</a></h2>
							<div class="text_from_news">
							<p>ФСБ РФ проводит масштабную операцию на территории России по выявлению источников финансирования и вербовки бойцов для «Исламского государства» в Сирии.</p>

<p>В рамках операции, сообщили источники в правоохранительных органах, с середины октября сотрудники спецслужбы задержали несколько десятков подозреваемых, в том числе и на территории Москвы». «Аналогичные операции проведены и в ряде других регионов России, мероприятия еще продолжаются», — заявили представители правоохранительных органов.</p>

<p>В середине октября 2014 года «Аргументы недели» сообщали, что российские спецслужбы и правоохранительные органы получили задание усилить агентурную разработку ячеек «Исламского государства» в РФ. Кроме того, им поручили активизировать действия по отслеживанию и задержанию боевиков, возвращающихся из Сирии, где они воевали на стороне исламистов.</p>
							</div>
						</div>
						<div class="news" data-id="9">
							<span class="date_span">2 часа назад</span>
							<h2><a href="">Депутатов Госдумы обязали сдать дипломатические паспорта</a></h2>
                          <div class="text_from_news">
                          <p>
                          	Председатель Госдумы Сергей Нарышкин поручил руководителям думских фракций собрать с депутатов дипломатические паспорта. Документы решили забрать из-за «ухудшения отношений» с Евросоюзом и санкций со стороны западных стран.</p>
<p>
  По правилам, депутаты должны сдавать диппаспорта после каждой служебной поездки. В действительности они хранят их у себя и зачастую используют для личных поездок без виз в страны <a href="" target="_blank">Шенгенского соглашения.</a></p>
<p>
Депутаты должны сдать дипломатические паспорта до 31 октября.</p>
                      </div>
						</div>
						<div class="news" data-id="10">
							<span class="date_span">сегодня, 11:23</span>
						
							<h2><a href="">Чешские спецслужбы пожаловались на "крайне высокое" число российских шпионов</a></h2>
							<div class="text_from_news">
							<p>ФСБ РФ проводит масштабную операцию на территории России по выявлению источников финансирования и вербовки бойцов для «Исламского государства» в Сирии.</p>

<p>В рамках операции, сообщили источники в правоохранительных органах, с середины октября сотрудники спецслужбы задержали несколько десятков подозреваемых, в том числе и на территории Москвы». «Аналогичные операции проведены и в ряде других регионов России, мероприятия еще продолжаются», — заявили представители правоохранительных органов.</p>

<p>В середине октября 2014 года «Аргументы недели» сообщали, что российские спецслужбы и правоохранительные органы получили задание усилить агентурную разработку ячеек «Исламского государства» в РФ. Кроме того, им поручили активизировать действия по отслеживанию и задержанию боевиков, возвращающихся из Сирии, где они воевали на стороне исламистов.</p>
							</div>
						</div>
						<div class="news" data-id="11">
							<span class="date_span">2 часа назад</span>
							<h2><a href="">Депутатов Госдумы обязали сдать дипломатические паспорта</a></h2>
                          <div class="text_from_news">
                          <p>
                          	Председатель Госдумы Сергей Нарышкин поручил руководителям думских фракций собрать с депутатов дипломатические паспорта. Документы решили забрать из-за «ухудшения отношений» с Евросоюзом и санкций со стороны западных стран.</p>
<p>
  По правилам, депутаты должны сдавать диппаспорта после каждой служебной поездки. В действительности они хранят их у себя и зачастую используют для личных поездок без виз в страны <a href="" target="_blank">Шенгенского соглашения.</a></p>
<p>
Депутаты должны сдать дипломатические паспорта до 31 октября.</p>
                      </div>
						</div>
						<div class="news" data-id="12">
							<span class="date_span">сегодня, 11:23</span>
						
							<h2><a href="">Чешские спецслужбы пожаловались на "крайне высокое" число российских шпионов</a></h2>
							<div class="text_from_news">
							<p>ФСБ РФ проводит масштабную операцию на территории России по выявлению источников финансирования и вербовки бойцов для «Исламского государства» в Сирии.</p>

<p>В рамках операции, сообщили источники в правоохранительных органах, с середины октября сотрудники спецслужбы задержали несколько десятков подозреваемых, в том числе и на территории Москвы». «Аналогичные операции проведены и в ряде других регионов России, мероприятия еще продолжаются», — заявили представители правоохранительных органов.</p>

<p>В середине октября 2014 года «Аргументы недели» сообщали, что российские спецслужбы и правоохранительные органы получили задание усилить агентурную разработку ячеек «Исламского государства» в РФ. Кроме того, им поручили активизировать действия по отслеживанию и задержанию боевиков, возвращающихся из Сирии, где они воевали на стороне исламистов.</p>
							</div>
						</div>
						
					</div>
					
					<div class="loading">
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="32px" height="32px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
<g><g><path fill="#E30613" d="M21.5,12.5l-3,4h2c0,2.207-1.795,4-4,4c-0.744,0-1.446-0.223-2.058-0.59l-1.215,1.619
			c0.955,0.619,2.085,0.971,3.272,0.971c3.309,0,6-2.691,6-6h2L21.5,12.5z M12.5,16.5c0-2.207,1.794-4,4-4
			c0.744,0,1.446,0.223,2.057,0.59l1.215-1.619C18.818,10.852,17.688,10.5,16.5,10.5c-3.309,0-6,2.691-6,6h-2l3,4l3-4H12.5z"/>
	</g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>

						Загрузить еще...
					</div>
					
				</div>
			</main>
          <footer>
            <div>
            	&copy; <a href="http://oneway.su" target="_blank">Студия ONEWAY</a>, 2014
            </div>
          </footer>
		</div>
	</body>
</html>

<script>
  $(document).ready(function(){
  
  $('.news').hide();
  
  var i=0;
  
  for (i; i<5; i++) {
	$('.news').each(function(){
		if ($(this).attr('data-id')==i) {
			$(this).show();
		}
	});
  }
  
  $('.loading').click(function(){
		var m = $('.news').length;
		
		console.log(i);
		var k = i+4;
		for (i; i<=k; i++) {
			$('.news').each(function(){
				if ($(this).attr('data-id')==i) {
					$(this).show();
				}
				if (m<i || m==i) {
					$('.loading').hide();
				}
			});
		  }
	
  
  });

    $('.add_news').click(function(){
    	$('.add_news_form').slideToggle();
      if ($(this).attr('class')!='add_news add_news_open_form')
      	$(this).addClass('add_news_open_form');
      else 
        $(this).removeClass('add_news_open_form');
    });
    
    $('.send').click(function(){
		var form_title = $('input[name=title_news]').attr('value');
		var form_text = $('textarea').val();
		if (form_title==null || form_title=='' || form_title==' ') {
			$('input[name=title_news]').css('border-color','red');
		} else {
			$('input[name=title_news]').css('border-color','rgba(212,208,207,1)');
		}
		if (form_text==null || form_text=='' || form_text==' ') {
			$('textarea').css('border-color','red');
		} else {
			$('textarea').css('border-color','rgba(212,208,207,1)');
		}
      return false;
    });
	
	$('.exit').click(function(){
      $('.add_news_form').slideToggle();
      $('.add_news').removeClass('add_news_open_form');
	  $('input[name=title_news]').attr('value','');
	  $('textarea').val('');
      return false;
    });
    
    $('.news h2 a').click(function(){
    	$(this).parent('h2').parent('.news').children('.text_from_news').slideToggle();
      return false;
    });
  });
</script>
