<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Redirect Trailing Slashes...
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

#    RewriteCond %{REQUEST_URI} !(/|.json)$ [NC]
#    RewriteRule ^(.*)$ http://site.ru/$1/ [R=301,L]
#    RewriteRule ^article/(.*?)&&(.*?)  ^article/$2 [R=301,L]
</IfModule>
